
<div class="container">
    <div id="content_post">
        <div>
            <h1>Je bent geauthenticeerd!</h1>
            <ul>
                @foreach(var claim in User.Claims)
                {
                    <li>@claim.Type: @claim.Value</li>
                }
            </ul>
            <h1>@User.Claims.ElementAt(10).Value</h1>
        </div>
    </div>
</div>
<script>
    $('#Auth').addClass('navContainer__item navContainer__item_state-active');
</script>