@using System.Security.Principal
@{
    ViewData["Title"] = "Profiel Pagina";
}
@section css {
    <link href="@Url.Content("~/css/Profile.css")" rel="stylesheet" />
}

<div class="container">
    <div id="content_profile">
        <div>
            <h1>Mijn Profiel</h1>
        </div>
        <div>
            @{
                    if (ViewData["photo"] != null)
                    {
                        <img style="margin: 5px 0; width: 150px" src="data:image/jpeg;base64, @ViewData["photo"]" />
                    }
                    else
                    {
                        <p>No Pic available for this user. Upload a pic for this user in the Azure portal</p>
                    }
                    var user = ViewData["me"] as Microsoft.Graph.User;
                <p>@user.DisplayName</p>

                if(User.Identity.IsAuthenticated)
                {
                    <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
                }
                else
                {
                    <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
                }
                }
        </div>
    </div>
</div>
