#dashboard_container {
    padding: 3rem 10vw;
}

#nav_Home {
    color: black;
    font-weight: bold;
    background-color: #FFE000;
}

#cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.dashboard_card {
    margin: 5px;
    display: flex;
    width: calc(50% - 10px);
    max-width: 700px;

    padding: 25px 18px;
}

.card_body {
    padding: 0;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
}

.card_title h3 {
    padding: 0 12px;
    font-size: 25px;
}

th {
    font-size: 18px;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #F6F6F6;
}

td {
    opacity: .75;
}

.table {
    margin: 0;
}

.table .td__btn {
    padding: 5px 12px;
}

.table th {
    border: none;
}

.table td {
    border: none;
}


.item {
    order: 3;
    align-self: flex-start;
}

table{
    width: 100%;
}

#btn_Link {
    cursor: pointer;
    background-color: lightgray;
    color: black;
    border: none;
    transition: color 0.5s, background-color 0.5s, font-weight 0.3s;
}

    #btn_Link:hover {
        color: white;
        background-color: #0275d8;
        font-weight: bold;
    }

.modal-dialog {
    place-content: center;
    max-width: 80vw;
}
.modal-content{
    width: 80vw;
}

@media only screen and (max-width: 1200px){
    .dashboard_card {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 800px){
    #dashboard_container {
        padding: 3rem 5vw;
    }
}
