#nav_Home {
    color: black;
    font-weight: bold;
    background-color: #FFE000;
}

#cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

#dashboard_card {
    margin: 5px;
    display: flex;
    width: 49%;
    max-width: 700px;
    padding: 15px 25px;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
}

.card_title {
    margin-bottom: 10px;
}

.item {
    order: 3;
    align-self: flex-start;
}

table{
    width: 100%;
}
