#nav_Post {
    color: black;
    font-weight: bold;
    background-color: #FFE000;
}

#btn_add {
    background-color: #FFE000;
    color: black;
    border: none;
    transition: color 0.5s, background-color 0.5s, font-weight 0.3s;
}

    #btn_add:hover {
        color: #FFE000;
        background-color: #232323;
        font-weight: bold;
    }

form {
    padding: 2em;
    height: fit-content;
}

#post{
    background-color: white;
}

#Title {
    width: 100%;
    font-size: xxx-large;
}

#Title_text {
    float: left;
}

#btn_add {
    float: right;
    width: 20%;
    height: 3em;
    background-color: #FFE000;
    color: black;
    border: none;
    transition: color 0.5s, background-color 0.5s, font-weight 0.3s;
}

    #btn_add:hover {
        color: #FFE000;
        background-color: #232323;
        font-weight: bold;
    }
