#nav_ToDo {
    color: black;
    font-weight: bold;
    background-color: #FFE000;
}

.modal-header, .model-footer {
    border: none;
}

#modal_btn_close {
    height: auto;
    background-color: #232323;
    color: #FFE000;
    border: none;
    transition: color 0.5s, background-color 0.5s, font-weight 0.3s;
}
    #modal_btn_close:hover {
        color: black;
        background-color: dodgerblue;
        font-weight: bold;
    }

#table_block {
    background-color: white;
}

#radio_btn_comment {
    background-color: #dedede;
    border: none;
    color: black;
    transition: all 0.5s;
}
    #radio_btn_comment:disabled {
        background-color: #cacaca;
        border: solid;
        color: black;
        font-weight: bold;
    }

    #radio_btn_comment:hover {
        background-color: #bdbdbd;
        border: solid;
        color: black;
        font-weight: bold;
    }

#radio_btn_artikel {
    background-color: #dedede;
    border: none;
    color: black;
    transition: all 0.5s;
}

    #radio_btn_artikel:disabled {
        background-color: #cacaca;
        border: solid;
        color: black;
        font-weight: bold;
    }

    #radio_btn_artikel:hover {
        background-color: #bdbdbd;
        border: solid;
        color: black;
        font-weight: bold;
    }

#btn_Link {
    cursor: pointer;
    background-color: lightgray;
    color: black;
    border: none;
    transition: color 0.5s, background-color 0.5s, font-weight 0.3s;
}

    #btn_Link:hover {
        color: white;
        background-color: #0275d8;
        font-weight: bold;
    }

#btn_Delete {
    cursor: pointer;
    background-color: lightgray;
    color: black;
    border: none;
    transition: color 0.5s, background-color 0.5s, font-weight 0.3s;
}

    #btn_Delete:hover {
        color: white;
        background-color: #ff0000;
        font-weight: bold;
    }

#btn_vb {
    cursor: pointer;
    background-color: lightgray;
    color: black;
    border: none;
    transition: color 0.5s, background-color 0.5s, font-weight 0.3s;
}

    #btn_vb:hover {
        color: white;
        background-color: darkgray;
        font-weight: bold;
    }

.modal-dialog {
    place-content: center;
    max-width: 80vw;
}

.modal-content {
    width: 80vw;
}

#title {
    font-size: 25px;
}

th {
    font-size: 18px;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #F6F6F6;
}

td {
    opacity: .75;
}

.table {
    border-top: 1px solid rgba(0, 0, 0, .1);
}

    .table .td__btn {
        padding: 5px 12px;
    }

    .table th {
        border: none;
    }

    .table tr {
        height: 75px;
    }

    .table td {
        border: none;
        vertical-align: middle;
    }