@{
    ViewData["Title"] = "Tribe Page";
}
@section css {
    <link href="@Url.Content("~/css/Tribe.css")" rel="stylesheet" />
}

<div class="container">
    <div id="content_tribe">
        <div>
            <h1>Create a tribe</h1>
        </div>
        <form class="rounded mt-2" asp-controller="Team" asp-action="Add_tribe">
            <div class="form-group">
                <label>Name</label>
                <input name="Name" type="text" class="form-control">
            </div>
            <button id="btn_add" type="submit" class="btn btn-primary">Create tribe</button>
        </form>
    </div>
</div>
<script>
    $('#Add').addClass('navContainer__item navContainer__item_state-active');
</script>