@{
    ViewData["Title"] = "Add Blog";
}
@section css {
    <link href="@Url.Content("~/css/Post.css")" rel="stylesheet" />
}
<script src="~/js/editer/build/ckeditor.js"></script>
<div class="container">
    <div class="editor">

    </div>
    @using (Html.BeginForm("Add", "Home", FormMethod.Post, new { onsubmit = "return Test()" }))
    {
        <input hidden name="TribeId" value="92b75a09-acd0-410b-e6b6-08d9f79c5c28" />
        <input hidden name="RockstarId" value="400db0b2-0316-429c-9422-08da1246c731" />
        <input id="Title" name="Title" value="" />
        <input id="content" hidden name="Content" value="" />


        <input type="submit" value="toevoegen"/>
    }
</div>
<script>
    ClassicEditor
        .create(document.querySelector('.editor'), {
            licenseKey: '',
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(error => {
            console.error('Oops, something went wrong!');
            console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
            console.warn('Build id: yj0c4x9dsld2-wobfokcq8hgl');
            console.error(error);
        });
</script>
<script>
    function Test() {
        document.getElementById("content").value = editor.getData();
        return true;
    }
    $('#Add').addClass('navContainer__item navContainer__item_state-active');
</script>