@{
    ViewData["Title"] = "Add Blog";
}
@section css {
    <link href="@Url.Content("~/css/Post.css")" rel="stylesheet" />
}

<div class="container">
    <div id="content_post">
        <div>
            <h1>Add blog</h1>
        </div>
        <form class="rounded mt-2" asp-controller="Home" asp-action="Add">
            <input hidden name="TribeId" value="92b75a09-acd0-410b-e6b6-08d9f79c5c28" />
            <input hidden name="RockstarId" value="400db0b2-0316-429c-9422-08da1246c731" />
            <div class="form-group">
                <label>Title</label>
                <input name="Title" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea name="Content" type="text" class="form-control" rows="3"></textarea>
            </div>
            <button id="btn_add" type="submit" class="btn btn-primary">Post Blog</button>
        </form>
    </div>
</div>
<script>
    $('#Add').addClass('navContainer__item navContainer__item_state-active');
</script>