
<div class="container">
    <div id="content_post">
        <div>
            <h1>You're authenticated!</h1>
        </div>
    </div>
</div>
<script>
    $('#Auth').addClass('navContainer__item navContainer__item_state-active');
</script>