<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMK_Rockstars_Proftaak_Groep2</title>
    <link rel="icon" type="image/x-icon" href="/Icons/Logo.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/MyFontsWebfontsKit.css" />
    @RenderSection("css", false)
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <header>
    </header>
    <div class="wrapper">
        <nav id="sidebar">
            <img id="sidebar__logo" src="~/img/logo.jpg" />
            <div id="sidebar__navContainer">
                <ul id="sidebar_itemContainer">
                    <a id="Dashboard" class="navContainer__item" asp-action="Index" asp-controller="Dashboard"><img class="navItem__img" src="~/Icons/home.png" alt="Home" /></a>
                    <a id="Home" class="navContainer__item" asp-action="Index" asp-controller="Home"><img class="navItem__img" src="~/Icons/articles.png" alt="Home" /></a>
                    <a id="ToDo" class="navContainer__item" asp-action="Index" asp-controller="ToDo"><img class="navItem__img" src="~/Icons/team.png" alt="Our team" /></a>
                    <a id="Add" class="navContainer__item" asp-action="Add" asp-controller="Home"><img class="navItem__img" src="~/Icons/add.png" alt="Add" /></a>
                    <a id="Website" class="navContainer__item" href="https://kind-coast-0cd0e9110.1.azurestaticapps.net/" target="_blankspace"><img class="navItem__img" src="~/Icons/internet.png" alt="Internet" /></a>
                    @*<a id="add" class="navcontainer__item" asp-action="auth" asp-controller="login"><img class="navitem__img" src="~/icons/cloud.svg" alt="auth" /></a>*@
                </ul>
            </div>
            <div id="profilepicContainer">
                <a id="Profile" asp-action="Index" asp-controller="Profile"><img id="profilepic" src="~/img/logo.jpg" alt="Profile picture" /></a>
            </div>
        </nav>

        <div id="content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
